@import "assets/variables";
@import "assets/home";
.limit__container {
  max-width: $limit__container;
  width: 100%;
}

input, button {
  outline: none;
}

html {
  scroll-behavior: smooth;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $background;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $orange;
  }
}
.v-application ul, .v-application ol{
  padding-left: unset;
}
