.accordion {
  .search__form {
    input {
      border: 1px solid #00489D;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #DDDDDD;
      margin-right: 13px;
      padding: 14px 16px;
    }

    button {
      padding: 14px 15px;
    }
  }
}
