.register__account__form {
  .form__header {
    font-size: 24px;
    font-weight: 600;
  }

  .v__container {
    padding: 24px;
  }

  .form__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #7E7E7E;
  }

  h2.form__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #0F0E1E;
  }

  .offers {
    .v-card__title, .v-card__title p {
      font-weight: 600;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: 0.02em;
      color: #131313;
    }

    .v-card__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 135%;
      letter-spacing: 0.02em;
      color: #131313;
    }
  }

  .form__banner {
    position: relative;
    z-index: 1;
    background: url("@/static/form__banner.png") no-repeat center;
    background-size: cover;
    height: 150px;

    .edit__banner {
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
  }

  .form__avatar {
    position: relative;
    z-index: 2;
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-left: 24px;
    margin-top: -50px;
  }

  .stack__container {
    max-width: 800px;
    width: 100%;
  }

  .stack {
    position: relative;
    margin-right: 12px;
    margin-bottom: 13px;

    input {
      position: absolute;
      opacity: 0;

      &:checked ~ label {
        background: #00489D;
        color: white
      }
    }

    label {
      cursor: pointer;
      width: max-content;
      background: #E6EDF5;
      transition: 0.2s;
      border-radius: 50px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      padding: 5px 16px;
      color: #00489D;

      svg {
        margin-right: 8px;
      }
    }
  }

  .custom__radio__buttons {
    margin-top: 24px;

    h3 {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 12px;
      color: #BDBDBD;
    }

    .position {
      padding-right: 36px;

      input {
        opacity: 0;
        position: absolute;

        &:checked ~ label:before {
          background: #00489D;
        }
      }

      label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #000000;

        &:before {
          content: '\2713';
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.3s;
          position: absolute;
          border: 1.5px solid #DBDAEA;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
      }
    }
  }

  .add_experience {
    background: none;
    border: none;
    cursor: pointer;
  }

  .reverse__ {
    .v-input--is-label-active {
      flex-direction: row-reverse;
      position: relative;

      .v-input__prepend-outer {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
      }
    }
  }

  .new__position {
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: #131313;
  }

  .delete__position {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 8px;
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FF3333;
    }
  }

  .save {
    margin-top: 20px;
    background: #F2F4F7;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: #00489D;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

.dev__link {
  text-decoration: none;
}

.dev__account {
  .avatar {
    margin: 0 16px 32px 0;
  }

  .dev__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #131313;

  }

  .dev__experience {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-top: 8px;
    color: #7E7E7E;

  }

  .form__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #000000;
  }

  .form__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #465472;
  }

  .v-picker--full-width {
    width: 100% !important;
    justify-content: center;
  }

  .rounded-2 {
    border-radius: 8px !important;
  }

  .stack {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #00489D;
    padding: 3px 16px;
    background: #E6EDF5;
    border-radius: 50px;
    margin-right: 12px;
    margin-bottom: 12px;
  }

  .experience__list {
    margin-top: 24px;
    list-style-type: none;
    padding: 0;

    .experience__item {
      padding: 0 0 0 56px;
      position: relative;
      margin-top: 16px;

      .item__timeLine {
        left: 0;
        top: 0;
        height: 100%;
        //border: 1px solid red;
        position: absolute;

        .doted__line {
          position: absolute;
          height: 100%;
          width: 1px;
          top: 25px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          border-left: 1px dashed #D9D9D9;
        }

        .timeLineParent {
          position: relative;
          z-index: 2;
          width: 40px;
          height: 40px;
          background: #E6EDF5;
          border-radius: 100%;

          .timeLineChild {
            background: #00489D;
            width: 12px;
            height: 12px;
            border-radius: 100%;
          }
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        .item__content {
          border-bottom: none;
        }

        .doted__line {
          display: none;
        }
      }

      .item__content {
        max-width: 532px;
        width: 100%;
        border-bottom: 1px solid #F4F4F4;
        padding-bottom: 24px;

        .content__title {
          font-weight: 500;
          margin-bottom: 18px;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: 0.02em;
          color: #000000;
        }

        .detailed__info {
          display: flex;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 30px;
          justify-content: space-between;

          .time {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #131313;
          }

          .position, .comp_name {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #465472;
            letter-spacing: 0.02em;
          }
        }

        .description {
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 16px;
          letter-spacing: 0.02em;
          color: #465472;
        }

        .stack {
          display: inline-block;
          font-weight: 400;
          font-size: 14px;
          background: #E6EDF5;
          padding: 3px 16px;
          margin-right: 12px;
          border: 1px solid #00489D;
          border-radius: 50px;
          line-height: 24px;
          color: #00489D;
        }
      }
    }
  }
}
