.register__account__form {
  .form__header {
    font-size: 24px;
    font-weight: 600;
  }

  .v__container {
    padding: 24px;
  }

  .form__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #7E7E7E;
  }

  h2.form__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #0F0E1E;
  }

  .offers {
    .v-card__title, .v-card__title p {
      font-weight: 600;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: 0.02em;
      color: #131313;
    }

    .v-card__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 135%;
      letter-spacing: 0.02em;
      color: #131313;
    }
  }

  .form__banner {
    position: relative;
    z-index: 1;
    background: url("@/static/form__banner.png") no-repeat center;
    background-size: cover;
    height: 150px;

    .edit__banner {
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
  }

  .form__avatar {
    position: relative;
    z-index: 2;
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-left: 24px;
    margin-top: -50px;
  }

  .stack__container {
    max-width: 800px;
    width: 100%;
  }

  .stack {
    position: relative;
    margin-right: 12px;
    margin-bottom: 13px;

    input {
      position: absolute;
      opacity: 0;

      &:checked ~ label {
        background: #00489D;
        color: white
      }
    }

    label {
      cursor: pointer;
      width: max-content;
      background: #E6EDF5;
      transition: 0.2s;
      border-radius: 50px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      padding: 5px 16px;
      color: #00489D;

      svg {
        margin-right: 8px;
      }
    }
  }

  .custom__radio__buttons {
    margin-top: 24px;

    h3 {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 12px;
      color: #BDBDBD;
    }

    .position {
      padding-right: 36px;

      input {
        opacity: 0;
        position: absolute;

        &:checked ~ label:before {
          background: #00489D;
        }
      }

      label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #000000;

        &:before {
          content: '\2713';
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.3s;
          position: absolute;
          border: 1.5px solid #DBDAEA;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
      }
    }
  }

  .add_experience {
    background: none;
    border: none;
    cursor: pointer;
  }

  .reverse__ {
    .v-input--is-label-active {
      flex-direction: row-reverse;
      position: relative;
      .v-input__prepend-outer{
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
      }
    }
  }
}
