.limit__container {
  max-width: $limit__container;
  width: 100%;
}

input, button {
  outline: none;
}

html {
  scroll-behavior: smooth;
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $background;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $orange;
  }
}

.v-application ul, .v-application ol {
  padding-left: unset;
}

.nuxt--app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .nuxt--main {
    flex: 1 1 auto;
    background: $background;
  }
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.primary_h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #191F23;
}

.primary_p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #232226;
}

.wrapper {
  padding-top: 56px;

  button {
    border-radius: 8px;
  }
}

.btn-primary {
  padding: 16px 48px;
  background: $blue;
  font-weight: 500;
  border-radius: 8px;
  font-size: 18px;
  width: max-content;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.section6__grid {
  margin-top: 209px;
}

.banner__img {
  margin-top: 157px;
  width: 100%;
  max-width: 1440px;
}

.banner__grid {
  margin-top: 157px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .grid__item {
    &:nth-child(2), &:nth-child(6) {
      margin-top: 47px;
    }

    &:nth-child(3), &:nth-child(5) {
      margin-top: 94px;
    }

    &:nth-child(4) {
      margin-top: 141px;
    }

    img {
      margin-bottom: 20px;
    }
  }
}

.banner__content {

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #131313;
  }

  p {
    margin: 24px 0 0 0;
    font-weight: 500;
    font-size: 16px;
    max-width: 521px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #131313;
  }

  .banner__search {
    margin-top: 48px;

    input {
      background: #FFFFFF;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      padding: 16px;
      letter-spacing: 0.02em;
      color: #DDDDDD;
      width: 327px;
    }

    button {
      margin-left: 13px;
      background: $blue;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 135%;
      padding: 16px 48px;
      border: none;
      outline: none;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      transition: $hover__transition;

      &:hover {
        background: #063874
      }
    }
  }
}

.animated {
  width: 537px;
  height: 145px;
}

.partners {
  padding: 160px 0 110px;

  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #191F23;
    max-width: 294px;
  }

  .partners__info {
    max-width: 608px;

    .partners__grid {
      margin-top: 51px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 55px;

      img {
        max-width: 130px;
      }
    }
  }

  p {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #232226;

  }
}

.section2 {
  z-index: 10;
  margin-top: -167px;
  position: relative;
  background: #EAEFF9;
  padding: 115px 0 120px;
  border: 33px solid rgba(0, 72, 157, 0.02);
  border-radius: 20px;

  p {
    max-width: 435px;
    margin: 16px 0 32px;
  }

  .absolute__n {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.section3 {
  padding: 100px 0 120px;

  .vertical__tabs {
    h2 {
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      letter-spacing: 0.02em;
      color: #131313;
      margin: 0;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      max-width: 506px;
      margin-top: 16px;
      margin-bottom: 24px;
      letter-spacing: -0.01em;
      color: #232226;

    }
  }

  .list__group {
    .list__item {
      padding-bottom: 40px;

      .item__num {
        margin-right: 24px;
        background: #F6652F;
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        align-items: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }
    }

    .item__content {
      .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 8px;
        letter-spacing: -0.01em;
        color: #232226;
      }

      .primary_p {
        max-width: 516px;
      }

      .btn-primary {
        margin-top: 16px;
        padding: 9px 32px;
      }
    }
  }
}

.section5 {
  padding: 60px 35px;

  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    max-width: 571px;
    letter-spacing: 0.02em;
    color: #131313;

    span {
      color: #F6652F;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #1D1D1D;
  }

  button {
    width: max-content;
  }
}

.section6 {
  margin-top: 220px;
  padding-bottom: 120px;

  p {
    text-align: center;
    max-width: 399px;
    margin-top: 24px;
    margin-bottom: 40px;
  }

  h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #131313;
  }

  button {
    background: $orange;
  }

  .grid__item__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #131313;
    margin: 16px 0;
  }

  .grid__item__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 336px;
    letter-spacing: 0.2px;
    color: #131313;

  }
}

.section7 {
  background: #D8E5DA;
  position: relative;
  padding-top: 110px;

  .undefined__vector {
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 100%;
    left: 0;
  }

  .limit__container {
    z-index: 2;
    position: relative;
  }

  p {
    max-width: 426px;
    margin: 16px 0 24px;
  }

  button {
    background: #3D7C46;
  }
}

.section10 {
  padding: 126px 0 121px;
  background: #E5ECF7;
}

.submit__app {
  h1 {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    max-width: 400px;
    letter-spacing: 0.02em;
    color: #131313;
  }
}

.footer {
  background: #131313;
  padding: 33px 0 16px;

  .goToTop {
    background: #FFFFFF;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 100%;
  }

  .footer__up {
    padding: 24px 0;
    border-bottom: 1px solid #3A3A3A;

    .up__subtext {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      margin-top: 16px;
      color: #7E7E7E;
    }

    .link__margin {
      margin: 0 40px 0 80px;
    }

    .footer__link {

      a {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }

  .footer__down {
    padding: 24px 0;
    width: 100%;

    .footer__link a, .footer__copyright {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      text-decoration: none;
      color: #7E7E7E;
    }

    .footer__copyright {
      flex: 1 1 auto;
      text-align: end;
    }
  }
}

.checkbox__input {
  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #686868;
  }
}

.transparent-bg {
  background: transparent !important;

  &:before {
    display: none;
  }
}

.no-shadow {
  box-shadow: none !important;
}

.filter {
  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
    color: #0F0E1E;
  }
}

.v-expansion-panel:not(:first-child)::after {
  border: none !important;
}

.static__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}

.result {
  padding-left: 24px;

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    margin: 0;
    color: #0F0E1E;
  }

  .search__form {
    margin-top: 22px;
    margin-bottom: 25px;
    display: flex;

    input {
      flex: 1 1 auto;
      background: #FFFFFF;
      border-radius: 8px;
      padding: 17px;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #131313;
      margin-right: 13px;
    }

    button {
      width: max-content;
    }
  }

  .result__card {
    margin-bottom: 24px;
    padding: 34px;
    background: #FFFFFF !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    border: none !important;
  }

  .card__text {
    p, a {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #465472;
    }

    a {
      color: #00489D;
    }
  }

  .card__header {
    .header__info {

      img {
        width: 56px;
        border-radius: 50%;
        height: 56px;
        margin-right: 16px;
      }
    }

    .header__logo {
      background: #F9F9F9;
    }
  }
}

.stacks {
  background: #E6EDF5;
  border-radius: 50px;
  margin-right: 12px;
  padding: 4px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #00489D;
}

.v-expansion-panel-header {
  padding: 16px 0 !important;
}

.price__slider {

  .v-card__text {
    padding: 0 !important;
  }

  .v-expansion-panel-content__wrap {
    padding: 0 !important;
  }

  .v-input {
    display: grid;
    grid-template-areas: "input1 input2" "slider slider";
  }

  .v-input__prepend-outer {
    grid-area: input1;

    input {
      position: relative;

      &:after {
        content: 'От';
        position: absolute;
        left: 0;
        top: -20px;
        font-size: 16px;
        color: black;
      }
    }
  }

  .v-input__append-outer {
    grid-area: input2;
  }

  .v-input__control {
    margin-top: 16px;
    grid-area: slider;
  }
}

.v-application .primary.lighten-3 {
  background-color: white !important;
}

.v-slider__thumb:before {
  opacity: 1 !important;
  background: white !important;

}

.light__card {
  background: white !important;
}

.border-radius-8 {
  border-radius: 8px;
}

.purpose__welcome {
  padding: 48px 0;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #131313;
  }

  .sub__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-top: 8px;
    margin-bottom: 48px;
    color: #7E7E7E;
  }

  .v-expansion-panel--active:not(:first-child), .v-expansion-panel--active + .v-expansion-panel {
    margin: 0 !important;
  }

  .accordion {
    margin-bottom: 32px;
    padding: 32px;
    background: #FFFFFF;

    .v-expansion-panel-header {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: #131313;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      display: block;
      margin-bottom: 16px;
      color: #7E7E7E;
    }

    .step {
      max-width: 280px;

      p {
        margin: 0 0 4px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #131313;

      }

      span {
        margin-left: 15px;
      }
    }
  }

  .btn-submit {
    padding: 12px 40px;
  }
}
