@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

$limit__container: 1250px;
$background: #F2F4F7;
$blue: #00489D;
$green: #3D7C46;
$orange: #F6652F;
$red: #FF3333;
$hover__transition: 0.4s;
